/* Style sheet for RvSn00p web site and local documentation. */
/* $Id$ */

body {
  background: url(images/stripes.png) repeat;
  border: 0;
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0;
  padding: 25px 0;
  text-align: center;
}

.section {
  background: #9191FF;
  border: 1px solid #000000;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: left;
  width: 640px;
}

.header {
  background: #0000A3;
  border-bottom: 1px solid #000000;
  color: #FFECBF;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  height: 80px;
  margin: 0;
  padding: 5px 5px 0 5px;
}

.header img {
  float: right;
}

.content {
  background: #C8C8FF;
  border-right: 1px solid #000000;
  float: left;
  margin: 0 15px 0 0;
  padding: 5px 5px 0 10px;
  width: 480px;
}

.content h2 {
  color: #0000A3;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.content p {
  font-size: 12px;
  padding: 1px 1px 1px 2em;
}

.navigation {
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  margin: 0 0 0 0;
  padding: 5px 0 auto 5px;
}

.navigation ul li {
  list-style: none;
}

.footer {
  background: #9191FF;
  border-top: 1px solid #000000;
  clear: both;
  padding: 1px 2px;
}

.footer p {
  color: #CFBCBF;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 80%;
  font-style: italic;
}

.footer p a {
  color: #FFECBF;
}

acronym {
  font-size: 110%;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}

p img {
  float: left;
  margin: 0 3px 2px -2em;
}

code {
  font-size: 90%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
