/* Style information for the RvSnoop web site. */
/* $Id$ */

body {
  background: url(images/stripes.png) repeat;
  border: 0;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 10px;
  margin: 0;
  padding: 25px 0;
}

.page {
  background: #91A8BC;
  border: 1px solid black;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: left;
  width: 600px;
}

.header {
  background: url(images/header.png) no-repeat;
  border-bottom: 1px solid black;
  height: 80px;
  margin: 0;
  padding: 0;
}

.header h1 {
  color: #0000A3;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 80px;
  margin: auto 5px 5px 5px;
}

.content {
  background: #C8C8FF;
  margin: 0;
  padding: 5px 47px 5px 25px;
}

.content h2 {
  clear: both;
  color: #0000A3;
  font-size: 15px;
  font-weight: normal;
}

.content h3 {
  color: #0000A3;
  font-size: 14px;
  font-weight: normal;
}

.content p {
  font-size: 11px;
  padding: 1px 1px 1px 2em;
}

img.wide {
  border: 1px solid black;
  margin: 1px 1px 1px 2em;
}

.navigation {
  background: url(images/nav_bg.gif) repeat-x;
  border-bottom: 1px solid black;
  height: 14px;
  margin: 0;
  padding: 0 1px;
}

.navigation ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  border-right: 1px solid black;
  height: 100%;
  float: left;
  list-style: none;
  padding: 0 4px;
}

#current {
  font-weight: bold;
}

.footer {
  background: #91A8BC;
  border-top: 1px solid black;
  clear: both;
  margin: 0;
  padding: 0;
}

.footer p {
  color: #B1C8DC;
  font-size: 9px;
  font-style: italic;
  margin: 0 3px;
  padding: 1px;
}

.footer p a {
  color: #C1D8EC;
}

acronym {
  font-size: 110%;
  font-variant: small-caps;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

p img {
  border: 1px solid black;
  float: right;
  margin: 0 3px 2px 0;
}

code {
  font-size: 90%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
